<ion-view title="Datos de pago" id="page6">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="datosDePago-card25">
      <ion-item class="positive" id="datosDePago-list-item12">Informe de Operación</ion-item>
      <form id="datosDePago-form3" class="list">
        <label class="item item-input" id="datosDePago-textarea1">
          <span class="input-label">Concepto de la operación</span><textarea placeholder=""></textarea></label>
        <label class="item item-input" id="datosDePago-textarea2">
          <span class="input-label">34.20€</span><textarea placeholder=""></textarea></label>
        <div id="datosDePago-button-bar2" class="button-bar">
          <a ui-sref="tabsController.iPayDemo_tab2" id="datosDePago-button7" class="button button-assertive  button-block button-clear">Cancelar</a>
          <a ui-sref="pagoRealizado" id="datosDePago-button8" class="button button-balanced  button-block button-clear">Pagar</a>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>