<ion-view title="Generar Código" id="page2">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="generarCDigo-card24">
      <ion-item class="positive" id="generarCDigo-list-item14">Informe de Operación</ion-item>
      <form id="generarCDigo-form2" class="list">
        <label class="item item-input item-stacked-label" id="generarCDigo-input4">
          <span class="input-label">Concepto</span>
          <input type="text" placeholder="Concepto de la operación">
        </label>
        <label class="item item-input item-stacked-label" id="generarCDigo-input3">
          <span class="input-label">Importe</span>
          <input type="text" placeholder="Importe en euros">
        </label>
        <div id="generarCDigo-button-bar1" class="button-bar">
          <a ui-sref="tabsController.iPayDemo" id="generarCDigo-button4" class="button button-assertive  button-block button-clear">Cancelar</a>
          <a ui-sref="tabsController.iPayQR" id="generarCDigo-button6" class="button button-balanced  button-block button-clear">Generar</a>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>