<ion-view title="IPay Demo" id="page3">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="iPayDemo-card21">
      <ion-item class="positive" id="iPayDemo-list-item5">Cuenta Principal</ion-item>
      <ion-item id="iPayDemo-list-item3">6.256€</ion-item>
      <ion-item class="item-icon-left balanced" id="iPayDemo-list-item4">
        <i class="icon ion-android-star"></i>Favorita</ion-item>
    </div>
    <div class="list card" id="iPayDemo-card23">
      <ion-item class="positive" id="iPayDemo-list-item9">Cuenta de Ahorro</ion-item>
      <ion-item id="iPayDemo-list-item10">56.456€</ion-item>
      <ion-item class="item-icon-left assertive" id="iPayDemo-list-item11">
        <i class="icon ion-pricetag"></i>Operaciones</ion-item>
    </div>
    <div class="list card" id="iPayDemo-card22">
      <ion-item class="positive" id="iPayDemo-list-item6">Fondos de Inversión</ion-item>
      <ion-item id="iPayDemo-list-item7">100.000€</ion-item>
      <ion-item class="item-icon-left balanced" id="iPayDemo-list-item8">
        <i class="icon ion-podium"></i>Resumen</ion-item>
    </div>
  </ion-content>
</ion-view>