<ion-view title="Pago Realizado" id="page7">
  <ion-content padding="true" class="has-header">
    <div id="pagoRealizado-markdown3" class="show-list-numbers-and-dots">
      <h4>Pago realizado correctamente.</h4>

      <p style="color:#000000;">Nº Referencia: #99879786</p>

      <p style="color:#000000;">ID Banco: 2080</p>
    </div>
    <a ui-sref="tabsController.iPayDemo_tab2" id="pagoRealizado-button9" class="button button-positive  button-block button-outline">Aceptar</a>
  </ion-content>
</ion-view>